@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?f5irbv');
  src:  url('fonts/icomoon.eot?f5irbv#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?f5irbv') format('truetype'),
    url('fonts/icomoon.woff?f5irbv') format('woff'),
    url('fonts/icomoon.svg?f5irbv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ribbon:before {
  content: "\e009";
}
.icon-user:before {
  content: "\e074";
}
.icon-file:before {
  content: "\e124";
}
.icon-log-out:before {
  content: "\e900";
}
.icon-lock:before {
  content: "\e901";
}
.icon-image:before {
  content: "\e902";
}
.icon-login:before {
  content: "\e903";
}
.icon-search:before {
  content: "\e986";
}
.icon-link:before {
  content: "\e904";
}

